<div class="wrapper">
    <div class="album">
        <div class="img">
            <img [src]="album?.albumImgUrl" alt="album image">
        </div>
        <div class="description">
            <div class="title">{{album?.title | titlecase }}</div>
            <div class="singer" (click)="goToSinger(album?.singer?.id)">{{album?.singer.userName | titlecase }}</div>
            <div class="category" (click)="goToCategory(album.category.id)">{{album?.category?.name | titlecase }}</div>
            <div class="play">
                <button (click)="playAlbum()" mat-button class="warn"><mat-icon>play_arrow</mat-icon> Play</button>
                <div  class="actions">
                    <mat-icon [matMenuTriggerFor]="menu">keyboard_control</mat-icon>
                    <mat-menu #menu="matMenu">
                        <button *ngIf="user" (click)="addToFavotiteAlbum(album)" mat-menu-item >
                            Like
                        </button>
                        <button *ngIf="user" (click)="addToAlbums(album)" mat-menu-item >
                            Add to library
                        </button>

                        <button (click)="shareAlbum(album)" mat-menu-item >
                            Share
                        </button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>

    <div class="list-songs">
      
        <div *ngFor="let song of songs" class="song"
        [ngClass]="{'playing': playingSong?.id === song.id}" >
            <div class="img" (click)="playSong(song)">
                <img [src]="song?.songImgUrl" alt="song image">
            </div>
            <div *ngIf="playingSong?.id === song.id" class="animation-icon">
                <span class="animation-span"></span>
                <span class="animation-span"></span>
                <span class="animation-span"></span>
              </div>
            <div class="name" (click)="playSong(song)">{{song?.title}}</div>
            <div class="duration" (click)="playSong(song)">{{song?.duration}}</div>
            <div  class="actions">
                <mat-icon [matMenuTriggerFor]="menu" class="icon">keyboard_control</mat-icon>
                <mat-menu #menu="matMenu">
                        <button *ngIf="user" (click)="addToFavotiteSong(song)" mat-menu-item >
                            Like
                        </button>
                        <button *ngIf="user" (click)="addToSongs(song)" mat-menu-item >
                            Add to library
                        </button>
                        <div *ngIf="user">
                            <button *ngFor="let playlist of playlists" (click)="addToPlaylist(song,playlist)" mat-menu-item >
                                Add to Playlist {{playlist.title}}
                            </button>
                        </div>
                        
                        <button (click)="shareSong(song)" mat-menu-item>
                          Share
                        </button>
                    </mat-menu>
            </div>
        </div>

    </div>
    <div class="footer">
        <div>Created: {{album?.createdTime | date}}</div>
        <div>{{songs?.length}} songs, {{totalLength.toFixed(0)}} minutes</div>
    </div>
</div>