@import 'src/styles/variables';

.loading-shade-form {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: $spinner-background-color;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
