<div class="wrapper">
  <div class="title">
    <mat-icon>info</mat-icon> IMusic is a platform both for users that only want to enjoy songs and for singers who wants to show their songs to users from all over the world.
  </div>
  <div class="link-button">
    <button (click)="openSignUp()">Became a user</button>
  </div>
  <div class="description">
    After you become a user on iMusic, your life will change forever and you
    will only regret that you didn't become one earlier!
  </div>
  <div class="inner-wrppaer">
    <div class="inner-title">
      <span>100 %</span> users who started their path in iMusic are very happy
      and recommend you to try it.
    </div>
    <div class="song-article">
      <div>
        <div class="song-title">
          Here you can listen songs, albums or playlists another users and singers.
        </div>
        <div class="link-see-button">
          <button (click)="openSongs()">See sings</button>
        </div>
      </div>

      <div class="song-img">
        <img
          src="../../../../../assets/images/song-about.jpg"
          alt="song img"
        />
      </div>
    </div>
  </div>
</div>
