<div class="wrapper">
    <h1>Favorite list:</h1>

    <div class="break-line"></div>

    <div class="search-result">


        <div class="top-songs" *ngIf="favoritelist?.songs.length > 0">
            <div class="title">
                <div class="text">Songs:</div>
            </div>
            <div class="list-top-songs">
                <div *ngFor="let song of favoritelist?.songs" class="song"
                     [ngClass]="{'playing': playingSong?.id === song.id}">
                    <div class="img" (click)="playSong(song)">
                        <img [src]="song?.songImgUrl" alt="song image">
                    </div>
                    <div *ngIf="playingSong?.id === song.id" class="animation-icon">
                        <span class="animation-span"></span>
                        <span class="animation-span"></span>
                        <span class="animation-span"></span>
                    </div>
                    <div class="name" (click)="playSong(song)">{{song?.title}}</div>
                    <div class="duration" (click)="playSong(song)">{{song?.duration}}</div>
                    <div  class="actions">
                        <mat-icon [matMenuTriggerFor]="menu" class="icon">keyboard_control</mat-icon>
                        <mat-menu #menu="matMenu">
                            <button (click)="removeSong(song)" mat-menu-item >
                                Unlike
                            </button>
                            <button (click)="shareSong(song)" mat-menu-item>
                              Share
                            </button>
                        </mat-menu>
                    </div>
                </div>
            </div>
        </div>


        <div class="recommends-imusic" *ngIf="favoritelist?.albums.length > 0">
            <div class="title">
                <div class="text">Albums:</div>
            </div>
    
            <div class="list-albums">
                <div *ngFor="let album of favoritelist?.albums"  class="album">
                    <div class="img" >
                        <img [src]="album.albumImgUrl" alt="album img">
                        <div *ngIf="!album?.songs.indexOf(playingSong)" class="animation-icon-big">
                            <span class="animation-span"></span>
                            <span class="animation-span"></span>
                            <span class="animation-span"></span>
                          </div>
                        
                        <div  class="actions">
                            <mat-icon [matMenuTriggerFor]="menu">keyboard_control</mat-icon>
                            <mat-menu #menu="matMenu">
                                <button (click)="removeAlbum(album)" mat-menu-item >
                                    Unlike
                                </button>
                                <button (click)="shareAlbum(album)" mat-menu-item >
                                    Share
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                    <div class="name">
                        <div (click)="goToAlbum(album.id)">{{ album.title | titlecase }}</div>
                        <div>-</div>
                        <div (click)="goToCategory(album.category.id)" >{{album.category.name | titlecase}}</div>
                    </div>  
                    
                </div>
            </div>
        </div>


        <div class="playlists" *ngIf="favoritelist?.playlists.length > 0">
            <div class="title" >
                <div class="text">Playlists: </div>
            </div>
    
            <div class="list-albums">
                <div *ngFor="let playlist of favoritelist?.playlists"  class="album">
                    <div class="img">
                        <img  [src]="playlist.playlistImgUrl" alt="category img">
                        <div *ngIf="!playlist?.songs.indexOf(playingSong)" class="animation-icon-big">
                            <span class="animation-span"></span>
                            <span class="animation-span"></span>
                            <span class="animation-span"></span>
                          </div>
                          <div  class="actions">
                            <mat-icon [matMenuTriggerFor]="menu">keyboard_control</mat-icon>
                            <mat-menu #menu="matMenu">
                                <button (click)="removePlaylist(playlist)" mat-menu-item >
                                    Unlike
                                </button>
                                <button (click)="sharePlaylist(playlist)" mat-menu-item >
                                    Share
                                </button>
                            </mat-menu>
                        </div>
                       
                    </div>
                    <div class="name">
                        <div (click)="goToPlaylist(playlist.id)">{{ playlist.title | titlecase }}</div>
                        <div>-</div>
                        <div >{{playlist.author.userName| titlecase}}</div>
                    </div>  
                      
                    
                </div>
            </div>
        </div>

    </div>
</div>
