.wrapper{
    margin: 20px 50px;
    .title{
        font-size: 20px;
        font-weight: 700;

    }
    .list-requests{
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        .user{
            border-radius: 10px;
            width: 15em;
            background-color: aliceblue;
            .img{
                width: 100%;
                height: 10em;
                position: relative;
                .profile-photo-block-name {
                    height: 100%;
                    background-color: rgb(253, 172, 172);
                    border-radius: 10px;
                    color: white;
                    text-transform: capitalize;
                    font-size: 48px;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  }
                img{
                    border-radius: 10px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .body{
                padding: 15px;
                display: flex;
                flex-direction: column;
                gap: 6px;
                .username{
                    font-weight: 600;
                }
                .email{
                    color: grey;
                    font-weight: 600;
                }
                .about-us{
                    height: 5em;
                    overflow: auto;
                }
                .buttons{
                    display: flex;
                    justify-content: space-around;
                    .primary{
                        color: aqua;
                    }
                }
            }
           
        }
    }
}